html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*box-sizing:border-box;



.header 
{
	width:100%;
  background-size:100%;
}
.col-md-12
{
	padding: 0px 0px 0px 0px;
}

.background-image
{
	
	background-image:url("images/eat.webp");
	height:600px;
	width:40%;
	background-attachment:fixed;
	float:right;
	background-position: 0px center;
}
.eat-fit
{
	background-color: #efefef;
}
.image
{
	padding-top:50px;
	
}
.eat-fit-txt
{
	font-size:20px;
	color: #353535;
	line-height: 2.08;
    letter-spacing: -.1px;
    text-align: left;
	padding-top: 35px;
    padding-right: 80px;
}
.button a
{
	text-decoration:none;
color:#fff;	
}
.button
{
	background-image: linear-gradient(90deg,#fd8383,#ff2e73);
	color:#fff;
	padding: 15px 25px;
    height: 50px;
    border-radius: 25px;
    width: 190px;
	font-size: 16px;
    font-weight: 700;
    text-align: center;
	margin:30px 0px;
	border:none;
}

.icon-list li
{
 
 float:left;
 margin-right:60px;	
 margin-top:80px;
}
.icon-list img
{
	height:50px;
}

.icon-list ul p
{
	padding: 10px 0px;
}

.background-image1
{
	background-image:url("images/banner.webp");
	height:600px;
	width:50%;	
	float:right;
	position: relative;
	background-position: 40px center;
}
.cult-fit
{
	background-color: #2d2d31;
}


.image1
{
	padding-top:50px;
	
}
.cult-fit-txt
{
	font-size:20px;
	color: #fff;
	line-height: 2.08;
    letter-spacing: -.1px;
    text-align: left;
	padding-top: 35px;
    padding-right: 80px;
}
.button1 a
{
	text-decoration:none;
color:#fff;	
}
.button1
{
	background-image: linear-gradient(90deg,#fd8383,#ff2e73);
	color:#fff;
	    padding: 15px 25px;
    height: 50px;
    border-radius: 25px;
    width: 190px;
	font-size: 16px;
    font-weight: 700;
    text-align: center;
	margin:30px 0px;
	border:none;
}

.icon-list1 li
{
 
 float:left;
 margin-right:60px;	
 margin-top:80px;
}
.icon-list1 ul p
{
	padding: 10px 0px;
	color:#fff;
}
.icon-list1 img
{
	height:50px;
}
.background-image2
{
	
	background-image:url("images/mind.webp");
	height:600px;
	width:50%;
	background-attachment:fixed;
	float:right;
	background-position: right center;
}
.mind-fit
{
	background-color: #e1e1e1;
}

.image2
{
	padding-top:50px;
	
}
.mind-fit-txt
{
	font-size:20px;
	color: #353535;
	line-height: 2.08;
    letter-spacing: -.1px;
    text-align: left;
	padding-top: 35px;
    padding-right: 80px;
}
.button2 a
{
	text-decoration:none;
    color:#fff;	
}
.button2 
{
	background-image: linear-gradient(90deg,#fd8383,#ff2e73);
	color:#fff;
	padding: 15px 25px;
    height: 50px;
    border-radius: 25px;  
	font-size: 16px;
    font-weight: 700;
    text-align: center;	
	text-decoration:none;
	width: 276px;
    margin-top: 70px;
	border:none;
	
}
.button3

{
	background-image: linear-gradient(90deg,#fd8383,#ff2e73);
	color:#fff;	
    height: 40px;
    border-radius: 31px;  
	font-size: 16px;    
    text-align: center;		
	width: 276px;   
	margin-left:540px;
	border:none;	
}
.button3 a
{
	text-decoration:none;
    color:#fff;	
}


.icon-list2 li
{
 
 float:left;
 margin-right:60px;	
 margin-top:80px;
}
.icon-list2 ul p
{
	padding: 10px 0px;
}
.icon-list2 img
{
	height:50px;
}
.bgimg
{
	background-image:url("images/bg.jpg");
	min-height:400px;
	width:100%;
	background-size:cover;
}

.background-image3
{	
	background-image:url("images/Mobilex3.webp");
	height:600px;
	width:50%;	
	float:left;
	background-position: center center;
}
.mobiletxt h1
{
	padding-top:50px;
	line-height:50px;
	font-size: 30px;
    text-align: left;
    letter-spacing:2px;
	color:#000;
	font-weight:800;
}
.mobiletxt p
{
	font-size: 18px;
    line-height: 40px;
    letter-spacing:1px;
	padding-top:20px;
    text-align: left;
    color: #353535;
}   
.store img
{
	float:left;
	padding:30px 20px 0 0;
} 

.text h1
{
	font-size: 48px;
    font-weight: 700;    
    letter-spacing: 2px;
    text-align: center;
    color: #2d3243;
	padding-top:50px;
} 
.text p
{
	 font-size: 20px;
    line-height: 30px;
    letter-spacing: 2px;
    text-align: center;
    color: #656565;
    padding:30px 0px;
}  


.text h2
{
	text-align:center;
}
.footer
{
	height:332px;
}
.footer-0 
{
	font-size: 80px;
    color: #565e6b;
	padding:40px 0px 0px 0px;
	font-weight:600;
}
.footer-1
{
	font-size: 60px;
    color: #778091;
    font-weight:600;
}
.top-footer
{
	background-color:#000;
	height:400px;
}

.imagelogo img
{
	width:130px;
	height:130px;
	padding:40px 0px 0px 0px;	
}
.description p
{
	margin-top: 5px;
    font-size: 14px;
    font-weight: 400;      
    line-height: normal;
    color: #a2a2a2;
}
.list li
{
	color: #a2a2a2;
    font-size: 18px;
    font-weight: 500;
	    margin-top: 82px;
    margin-bottom: -57px;
    margin-left: 50px;	
}
.app img
{
	width:135px;
	height:40px;
margin-top: 82px;
margin-left: 40px;

    border: 1px solid #fff;
 border-radius: 5px;	
}

.foterhead
{
	color:rgb(162, 162, 162);
	border-bottom: 1px solid #444242;
}

.fotertxt p
{
	font-size:14px;
	color:rgb(162, 162, 162);
}

.bannerimage img
{
	position:relative;
	width: 1349px;
}

/*eat.........................*/
.carousel-inner img {
      width: 100%;
      height: 100%;
	  padding-top:20px;
  }







/*...........responsive....................*/
@media (max-width:420px)
{
.background-image
{
	width: 100%;
    height: 325px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;	
	background-attachment:initial;
	background-position: center center;
}	
.background-image1
{
	width: 100%;
    height: 325px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}
.background-image2
{
	
	width: 100%;
    height: 325px;
    background-size: contain;
    background-repeat: no-repeat;
    
	background-attachment:initial;
	background-position: center center;
}
.background-image3
{
	width: 100%;
    height: 325px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}
.image1, .image2, .image
{
	height: 80px;
    padding-left: 25px;
}
.mind-fit-txt, .cult-fit-txt, .eat-fit-txt
{
	font-size: 16px;
    line-height: 1.62;
    padding: 20px 25px 0;
}
.button2, .button, .button1
{
	height: 40px;
    margin: 0 25px;
    font-size: 14px;
}
.icon-list2 img, .icon-list img, .icon-list1 img
{
	height: 30px;
    background-size: contain;
   padding: 0 15px 0 0;
	float:left;
}
.icon-list2 li, .icon-list1 li, .icon-list li
{
    margin-right: 30px;
}

.icon-list p, .icon-list1 p, .icon-list2 p
{
	font-size:12px;
}
.mobiletxt h1
{
	font-size: 24px;
    padding-left: 25px;
}
.mobiletxt p
{
	font-size: 16px;
    line-height: 1.62;
    padding: 20px 25px 0;
}
.store img
{
	height: 60px;
    margin: 0 10px 10px 40px;
}
.top-footer
{
	height:1000px;
}
.footertext
{
	margin-left:10px;
	margin-right:10px;
}
.button3
{
	width:200px;
	margin-left:85px;
}
.text h1
{
	font-size:40px;
}
.text p
{
	font-size:18px;
}
.footer-0
{
	font-size:40px;
}
.footer-1
{
	font-size:30px;
}
.footer {
    height: 160px;
}
.description
{
	margin-bottom:-40px;
}
.carousel-inner img
{
	
	height:190px;
	padding-top:30px;
	padding-left:10px;
	padding-right:10px;
}
.bannerimage img
{
	position:relative;
	width: 395px;
	margin-left:10px;
	margin-right:10px;
}
}












